@model TimesheetSystem.DAL.Models.Project

@{
    ViewBag.Title = "Delete Project";
}

<h2>Delete Project</h2>

<h3>Are you sure you want to delete this project?</h3>
<div>

    <hr />
    <div class="row">
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.ProjectName):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.ProjectName)</div>
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.ProjectDateStarted):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.ProjectDateStarted)</div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.ProjectStatus):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.ProjectStatus)</div>
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.EstimatedProjectDateEnd):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.EstimatedProjectDateEnd)</div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.ProjectType):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.ProjectType)</div>
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.EstimatedDuration):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.EstimatedDuration)</div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.TotalDuration):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.TotalDuration)</div>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color top-pad">
            <input type="submit" value="Delete" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
