@model TimesheetSystem.DAL.Models.TimeLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TimeLog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Task.TasksName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.TasksName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeLogDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeLogDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DurationWorked)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DurationWorked)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
