@model TimesheetSystem.DAL.Models.Tasks

@{
    ViewBag.Title = "Delete Task";
}

<h2>Delete Task</h2>

<h3>Are you sure you want to delete this task?</h3>
<div>
    <hr />

    <div class="row">
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.Project.ProjectName):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.Project.ProjectName)</div>
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.TaskStartDate):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.TaskStartDate)</div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.TasksName):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.TasksName)</div>
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.EstimatedTaskDateEnd):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.EstimatedTaskDateEnd)</div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.TaskType):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.TaskType)</div>
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.TasksStatus):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.TasksStatus)</div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-3">@Html.LabelFor(model => model.TaskDuration):</div>
        <div class="col-md-3 col-sm-3">@Html.DisplayFor(model => model.TaskDuration)</div>
    </div>


    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color top-pad">
        <input type="submit" value="Delete" class="btn btn-primary" />
        @Html.ActionLink("Back to List", "Index", new { id = Model.ProjectId }, new { @class = "btn btn-primary" })
    </div>
    }
</div>
