@model TimesheetSystem.DAL.Models.Tasks

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tasks</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TasksName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TasksName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedTaskDateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedTaskDateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDuration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDuration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TasksStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TasksStatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TasksId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
